.nav {
    margin-left:20%;
    width:80%;
}
.nav ul{
    list-style-type: none;
    position : fixed;
    right : 0px;
    top : 30px;
}

.nav ul li {
    display: inline-block;
    padding: 20px;
}
p#projectDescription .title{
    font-size: 25px;
    font-weight: 700;
    animation: an 2s ease-out 1 both;
    display: inline-block;
}

p#projectDescription .char{
    font-size: 20px;
    animation: an 2s ease-out 1 both;
    display: inline-block;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}