#projects ul li{
    font-weight: 300;
    font-size: 20pt;
}

#projects ul li:first-child{
    font-weight: 700;
}

p#projectDescription .title{
    font-size: 25px;
    font-weight: 700;
    animation: an 2s ease-out 1 both;
    display: inline-block;
}

p#projectDescription .char{
    font-size: 20px;
    animation: an 2s ease-out 1 both;
    display: inline-block;

    word-break: keep-all;
}

div#projects ul {
    list-style-type : none;
}

div#projects li button {
    color : inherit;
    background-color: inherit;
    font-weight: inherit;
    border: none;
    text-align: left;
}

div#projects li button:hover {
    color : #999999;
    background-color: inherit;
    font-weight: inherit;
    border: none;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}

div#projects a:hover {
    color : #999999;
    font-weight: inherit;
}

div#projects input.control{
    background-color: #fff;
    width: 35px;
    height: 12px;
    margin : 5px;
}