body {
    background-color: #fff;
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
}
strong {
    font-weight: 700;
}

div {
    margin : 20px 0px;
}

h1{
    font-weight: 700;
}

a {
    color : inherit;
}

a:hover {
    color : inherit;
    font-weight: 700;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
