body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

div#wrapper {
    padding: 10% 15%;
}


strong {
    color : black;
    font-weight: 700;
}

h1{
    font-weight: 700;
    font-size: 26px;
    display:inline-block; 
}


h2 {
    font-weight: 700;
    font-size: 22px;
    margin-top: 20px;
    background-color: #c0e7ec;
    display:inline-block; 
}

.icon {
    width: 40px;
    height: 40px;
}

span {
    font-size : 13px;
}

a {
    color : black;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color : #999999;
    text-decoration: underline;
    font-weight: 700;
    z-index: 1;
}